// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-select/sass/variables";
@import "node_modules/bootstrap-select/sass/bootstrap-select";
@import "cosmo";

// Bootstrap

#app {
  padding-top: 70px;
}

.btn-primary {
  color: $btn-default-color;
}

.btn-group.bootstrap-select,
.btn-group.bootstrap-select.open
{
  .btn-default {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccd0d2;

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}